[submodule "BE_HistoryMind_AI"]
	path = BE_HistoryMind_AI
	url = https://github.com/HistoryMindAI/BE_HistoryMind_AI
[submodule "vietnam_history_dataset"]
	path = vietnam_history_dataset
	url = https://github.com/HistoryMindAI/vietnam_history_dataset
